 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <!-- <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p> -->
                    <p>Bachelor in Computer Science with a diploma in Mobile Application Development, I am passionate about driving impactful advancements in my field. With a strong affinity for collaboration, I thrive on connecting with others and leveraging technology to foster innovation. Research, continuous learning, and supporting colleagues define my professional journey.</p>
                </div>
                <div class="col-lg-3">
                    <!--<p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p> -->
                    <p>Since 2020, I have been dedicated to iOS development, having played a pivotal role in a significant project. My expertise spans Swift, both UIKit and SwiftUI, Xcode, Realm Database, and the deployment of iOS apps. I am well-versed in REST API integration. Additionally, my background includes three years as an Android developer utilizing Java and the Android SDK Framework, alongside proficiency in C# for Windows Mobile and SQL databases.</p>
                </div>
                <div class="col-lg-3">
                    <!--<p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p> -->
                    <p>As the sole iOS developer until 2022, I navigated challenges with resolve, contributing effectively to project milestones. Following our team's expansion, I now collaborate closely with a colleague, further enhancing our collective output.</p>
                </div>
               <div class="col-lg-3">
                    <!--<p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p> -->
                    <p>Beyond technical skills, I bring valuable experience in remote work practices, adeptly managing tasks and participating in virtual meetings to ensure seamless project coordination. I have successfully employed SCRUM and Kanban methodologies to streamline development processes, ensuring efficient project execution and delivery.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/danismgomes/Resume/raw/master/DanielleGomesResume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
